<h1>Welcome <%=@user.username%></h1>


<%if @user.films.empty? %>
<%= "Looks like you've gotta get started"%><br />
<%= link_to "Make a New Film", new_film_path%>
  <%else %>
<%="Here's a list of films you have reviewed:" %>
  <p>Films:</p>
  <% @user.films.each do |film| %>
    <div><%=link_to "#{film.title}", film_review_path(review) %></div>
  <% end %><br      />
  <%end%>

<!--<%if @user.drinks.empty?%>
<%= "Looks like you've gotta get drinking!"%>
<%else %>
 <%= "Here's a list of drinks you've drank:"%>
<%@user.drinks.each do |drink| %>
<div><%=link_to "#{drink.name}", film_review_path(review) %></div>
<% end %><br      />
<%end%>
-->

<!-- Let's keep it simple, have the drinks format follow the same as the films format.

If that's the case, then we need to make sure the relationships are pretty much the same.

What are the relationships between users and Films
What are the relationships between users and drinks?
-->
