<h1>All Films</h1>
<ul>
<%@films.each do |f|%>
<li><%=link_to "#{f.title}", film_path(f)%></li>
<%end%>
</ul>
<%=link_to "Submit New Film", new_film_path%>


<%=form_tag(films_path, :method=>'get') do %>
<%=text_field_tag :search, params[:search]%>
<%=submit_tag "Seach"%>
<%end%>
