<h1><%=@film.title%></h1>

<h3><%=@review.title%></h3><br    />

<%=@review.content%><br   />

<%=@review.drink.amount%> <%=@review.drink.name%><br /><br />

<%=link_to "Edit Review", edit_film_review_path(@review.film, @review)%><br  />

<%=link_to "Reviews", film_reviews_path%><br  />

<%=link_to "Profile", user_path(@review.user)%>
