<h1><%=@film.title%></h1>

<h3><%=@review.title%></h3><br    />

<%=@review.content%><br   />

  <%if @review.drink.amount == 1 && @review.drink.name.last != "s"%>
    <%=@review.drink.amount%> <%=@review.drink.name%>
  <%elsif @review.drink.amount == 1 && @review.drink.name.last == "s"%>
    <%=@review.drink.amount%> <%=@review.drink.name[0..-2]%>
    <%elsif @review.drink.amount > 1 && @review.drink.name.last != "s"%>
    <%=@review.drink.amount%> <%= @review.drink.name + "s"%>
    <%else%>
    <%=@review.drink.amount%> <%=@review.drink.name%>
  <%end%>

<%=button_to "Edit Review", edit_film_review_path(@review.film, @review), :method => :get %><br  />

<%=button_to "Delete Review", film_review_path(@review.film, @review), :method => "delete", :class => "destroy"%><br /><br /><br />

<%=link_to "Reviews", film_reviews_path%><br  />

<%=link_to "Profile", user_path(@review.user)%>
